<header class="header">
  <h1>Welcome to FitLife Gym</h1>
  <nav>
    <ul style="align-items: center;">
      <li><a href="#services">Services</a></li>
      <li><a href="#register">Register</a></li>
      <li><a href="#contact">Contact</a></li>
      <!-- <button style="margin-left: 10rem;" class="profile-icon" (click)="navigateToAdmin()">
        <i class="fas fa-user-circle"></i>
      </button> -->
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <div style="margin-left: 10rem;" class="profile-icon" (click)="navigateToAdmin()">
          <i class="fas fa-user-circle"></i> <!-- Profile icon -->
        </div>
      </li>
    </ul>
  </nav>
</header>